.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #6c757c;
}

.nav-pills .nav-link:not(.active), .nav-pills .show > .nav-link {
    color: black;
    background-color: white;
}

.nav-pills .nav-link:not(.active):hover, .nav-pills .show > .nav-link {
    color: #343a40;
    background-color: white;
}

.fab, .fas {
    padding: 15px;
    font-size: 30px;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 50%;
  }
  
  .fab:hover, .fas:hover {
      opacity: 0.7;
      color: white;
      text-decoration: none;
  }

  .fa-github {
      background: #25292e;
      color: white;
  }

  .fa-envelope {
    background: #ff6600;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .fa-google {
    background: #00b489;
    color: white;
  }