body {
  font-family: 'Sumana', serif;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin: 0;
  line-height: 60px;
}

.description {
  font-size: 20px;
  text-align: center;
}

.subpages {
  cursor: pointer;
}

h2 {
  margin: 0;
  position: absolute;
}

a {
  color: black;
}
